In [5]:
import pandas as pd

C:\Users\amitj\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [6]:
order_report = pd.read_csv("b2b/Order Report.csv")
sku_master = pd.read_csv("b2b/SKU Master.csv")
CourierCompanyRates = pd.read_csv("b2b/Courier Company - Rates.csv")
pincodes = pd.read_csv('b2b/pincodes.csv')
invoice = pd.read_csv('b2b/Invoice.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'b2b/Order Report.csv'

In [ ]:
print("order_report:")
print(order_report.head())
print("\nsku_master:")
print(sku_master.head())
print("\nCourierCompanyRates:")
print(CourierCompanyRates.head())
print("\npincodes:")
print(pincodes.head())
print("\ninvoice:")
print(invoice.head())

In [ ]:
print('\nMissing Values in Websites Order Report')
print(order_report.isnull().sum())
print("\nMissing values in SKU Master:")
print(sku_master.isnull().sum())
print("\nMissing values in Pincode Mapping:")
print(pincodes.isnull().sum())
print("\nMissing values in Courier Invoice:")
print(invoice.isnull().sum())
print("\nMissing values in courier company rates:")
print(CourierCompanyRates.isnull().sum())

In [ ]:
pincodes.drop(columns=['Unnamed: 3','Unnamed: 4'], axis=1)

In [ ]:
merge_data = pd.merge(order_report,sku_master, on='SKU')

In [ ]:
print(merge_data.head())

In [ ]:
merge_data = merge_data.rename(columns={'ExternOrderNo': 'Order ID'})

In [ ]:
merge_data

In [7]:
abc_courier = pincodes.drop_duplicates(subset=['Customer Pincode'])
courier_abc= invoice[['Order ID', 'Customer Pincode','Type of Shipment']]
pincodes= courier_abc.merge(abc_courier,on='Customer Pincode')
print(pincodes.head())

NameError: name 'pincodes' is not defined

In [8]:
merged2 = merge_data.merge(pincodes, on='Order ID')

NameError: name 'merge_data' is not defined

In [9]:
merged2['Weight (Kgs)'] = merged2['Weight (g)'] / 1000

NameError: name 'merged2' is not defined

In [102]:
merged2.drop(columns=['Unnamed: 3', 'Unnamed: 4'])

,Order ID,SKU,Order Qty,Weight (g),Customer Pincode,Type of Shipment,Order ID_x,Type of Shipment_x,Order ID_y,Type of Shipment_y,Warehouse Pincode,Zone,Weight (Kgs)
0,2001827036,8904223818706,1.0,127,173213,Forward charges,2001827036,Forward charges,2001827036,Forward charges,121003,e,0.127
1,2001827036,8904223819093,1.0,150,173213,Forward charges,2001827036,Forward charges,2001827036,Forward charges,121003,e,0.150
2,2001827036,8904223819109,1.0,100,173213,Forward charges,2001827036,Forward charges,2001827036,Forward charges,121003,e,0.100
3,2001827036,8904223818430,1.0,165,173213,Forward charges,2001827036,Forward charges,2001827036,Forward charges,121003,e,0.165
4,2001827036,8904223819277,1.0,350,173213,Forward charges,2001827036,Forward charges,2001827036,Forward charges,121003,e,0.350
...,...,...,...,...,...,...,...,...,...,...,...,...,...
396,2001806229,8904223818942,1.0,133,421204,Forward charges,2001806229,Forward charges,2001806229,Forward charges,121003,d,0.133
397,2001806229,8904223818850,1.0,240,421204,Forward charges,2001806229,Forward charges,2001806229,Forward charges,121003,d,0.240
398,2001806226,8904223818850,2.0,240,723146,Forward charges,2001806226,Forward charges,2001806226,Forward charges,121003,d,0.240
399,2001806210,8904223816214,1.0,120,140604,Forward charges,2001806210,Forward charges,2001806210,Forward charges,121003,b,0.120
400,2001806210,8904223818874,1.0,100,140604,Forward charges,2001806210,Forward charges,2001806210,Forward charges,121003,b,0.100

In [103]:
def weight_slab(weight):
    i = round(weight % 1,1)
    if i == 0.0:
        return weight
    elif i > 0.5:
        return int(weight) + 1.0
    else:
        return int(weight) + 0.5

In [106]:
merged2['Weight Slab (KG)'] = merged2['Weight (Kgs)'].apply(weight_slab)
invoice['Weight Slab Charged By Courier Company']=(invoice['Charged Weight']).apply(weight_slab)

In [108]:
invoice = invoice.rename(columns={'Zone': 'Delivery Zone Charged by Courier Company'})
merged2 = merged2.rename(columns={'Zone': 'Delivery Zone As Per ABC'})
merged2 = merged2.rename(columns={'Weight Slab (KG)': 'Weight Slab As Per ABC'})

In [110]:
merged2

,Order ID,SKU,Order Qty,Weight (g),Customer Pincode,Type of Shipment,Order ID_x,Type of Shipment_x,Order ID_y,Type of Shipment_y,Warehouse Pincode,Delivery Zone As Per ABC,Unnamed: 3,Unnamed: 4,Weight (Kgs),Weight Slab As Per ABC
0,2001827036,8904223818706,1.0,127,173213,Forward charges,2001827036,Forward charges,2001827036,Forward charges,121003,e,NaN,NaN,0.127,0.5
1,2001827036,8904223819093,1.0,150,173213,Forward charges,2001827036,Forward charges,2001827036,Forward charges,121003,e,NaN,NaN,0.150,0.5
2,2001827036,8904223819109,1.0,100,173213,Forward charges,2001827036,Forward charges,2001827036,Forward charges,121003,e,NaN,NaN,0.100,0.5
3,2001827036,8904223818430,1.0,165,173213,Forward charges,2001827036,Forward charges,2001827036,Forward charges,121003,e,NaN,NaN,0.165,0.5
4,2001827036,8904223819277,1.0,350,173213,Forward charges,2001827036,Forward charges,2001827036,Forward charges,121003,e,NaN,NaN,0.350,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
396,2001806229,8904223818942,1.0,133,421204,Forward charges,2001806229,Forward charges,2001806229,Forward charges,121003,d,NaN,NaN,0.133,0.5
397,2001806229,8904223818850,1.0,240,421204,Forward charges,2001806229,Forward charges,2001806229,Forward charges,121003,d,NaN,NaN,0.240,0.5
398,2001806226,8904223818850,2.0,240,723146,Forward charges,2001806226,Forward charges,2001806226,Forward charges,121003,d,NaN,NaN,0.240,0.5
399,2001806210,8904223816214,1.0,120,140604,Forward charges,2001806210,Forward charges,2001806210,Forward charges,121003,b,NaN,NaN,0.120,0.5
400,2001806210,8904223818874,1.0,100,140604,Forward charges,2001806210,Forward charges,2001806210,Forward charges,121003,b,NaN,NaN,0.100,0.5

In [119]:
total_expected_charge = []

for _, row in merged2.iterrows():
    fwd_category = 'fwd_' + row['Delivery Zone As Per ABC']
    fwd_fixed = CourierCompanyRates.at[0, fwd_category + '_fixed']
    fwd_additional =CourierCompanyRates.at[0, fwd_category + '_additional']
    rto_category = 'rto_' + row['Delivery Zone As Per ABC']
    rto_fixed = CourierCompanyRates.at[0, rto_category + '_fixed']
    rto_additional = CourierCompanyRates.at[0, rto_category + '_additional']

    weight_slab = row['Weight Slab As Per ABC']

    if row['Type of Shipment'] == 'Forward charges':
        additional_weight = max(0, (weight_slab - 0.5) / 0.5)
        total_expected_charge.append(fwd_fixed + additional_weight * fwd_additional)
    elif row['Type of Shipment'] == 'Forward and RTO charges':
        additional_weight = max(0, (weight_slab - 0.5) / 0.5)
        total_expected_charge.append(fwd_fixed + additional_weight * (fwd_additional + rto_additional))
    else:
        total_expected_charge.append(0)

In [120]:
merged2['Expected Charge as per ABC'] = total_expected_charge
print(merged2.head())

     Order ID            SKU  Order Qty  Weight (g)  Customer Pincode  \
0  2001827036  8904223818706        1.0         127            173213
1  2001827036  8904223819093        1.0         150            173213
2  2001827036  8904223819109        1.0         100            173213
3  2001827036  8904223818430        1.0         165            173213
4  2001827036  8904223819277        1.0         350            173213

  Type of Shipment  Order ID_x Type of Shipment_x  Order ID_y  \
0  Forward charges  2001827036    Forward charges  2001827036
1  Forward charges  2001827036    Forward charges  2001827036
2  Forward charges  2001827036    Forward charges  2001827036
3  Forward charges  2001827036    Forward charges  2001827036
4  Forward charges  2001827036    Forward charges  2001827036

  Type of Shipment_y  Warehouse Pincode Delivery Zone As Per ABC  Unnamed: 3  \
0    Forward charges             121003                        e         NaN
1    Forward charges             121003                        e         NaN
2    Forward charges             121003                        e         NaN
3    Forward charges             121003                        e         NaN
4    Forward charges             121003                        e         NaN

   Unnamed: 4  Weight (Kgs)  Weight Slab As Per ABC  \
0         NaN         0.127                     0.5
1         NaN         0.150                     0.5
2         NaN         0.100                     0.5
3         NaN         0.165                     0.5
4         NaN         0.350                     0.5

   Expected Charge as per ABC
0                        56.6
1                        56.6
2                        56.6
3                        56.6
4                        56.6

In [3]:
merged2['Expected Charge as per ABC'] = total_expected_charge
print(merged2.head())merged_output = merged2.merge(courier_invoice, on='Order ID')
print(merged_output.head())

SyntaxError: invalid syntax (3511097743.py, line 2)

In [4]:
df_diff = merged2
df_diff['Difference (Rs.)'] = df_diff['Billing Amount (Rs.)'] - df_diff['Expected Charge as per ABC']

df_new = df_diff[['Order ID', 'Difference (Rs.)', 'Expected Charge as per ABC']]

NameError: name 'merged2' is not defined

In [122]:
# Calculate the total orders in each category
total_correctly_charged = len(df_new[df_new['Difference (Rs.)'] == 0])
total_overcharged = len(df_new[df_new['Difference (Rs.)'] > 0])
total_undercharged = len(df_new[df_new['Difference (Rs.)'] < 0])

# Calculate the total amount in each category
amount_overcharged = abs(df_new[df_new['Difference (Rs.)'] > 0]['Difference (Rs.)'].sum())
amount_undercharged = df_new[df_new['Difference (Rs.)'] < 0]['Difference (Rs.)'].sum()
amount_correctly_charged = df_new[df_new['Difference (Rs.)'] == 0]['Expected Charge as per ABC'].sum()

# Create a new DataFrame for the summary
summary_data = {'Description': ['Total Orders where ABC has been correctly charged',
                                'Total Orders where ABC has been overcharged',
                                'Total Orders where ABC has been undercharged'],
                'Count': [total_correctly_charged, total_overcharged, total_undercharged],
                'Amount (Rs.)': [amount_correctly_charged, amount_overcharged, amount_undercharged]}

df_summary = pd.DataFrame(summary_data)

print(df_summary)

NameError: name 'df_new' is not defined

   Description  Count  Amount (Rs.)
0  Total Orders where ABC has been correctly charged     12         507.6
1        Total Orders where ABC has been overcharged    382       33750.5
2       Total Orders where ABC has been undercharged      7        -165.2